.top_bar form {
	display: inline-block;
}

.top_bar nav {
	align-items: center;
	font-size: large;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-evenly;
}

input,button,textarea {
	font-family: serif;
	border-radius: 0;
}

.top_bar {
	background-image: linear-gradient(rgba(128,0,128,1),rgba(255,0,255,.1));
	position: sticky;
	top: 0;
	width: 100%;
	margin: 0;
	border: 1px black solid;
	box-shadow: 1pt 1pt;
	text-shadow: 1pt 1pt white;
}

.kitforum {
	background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5));
	color: white;
	padding: 6pt;
	box-shadow: -2px -2px;
}

h1 {
	background-image: linear-gradient(90deg, white, lightgrey);
	text-shadow: 1px 1px white;
	padding: 0.5ch;
}

a {
	text-decoration: none; 
	font-weight: bold;
}

.reply {
	display: flex;
	align-items: center;
}

.reply p#name { margin-right: 1ch;}
.reply p#content br { line-height: 200%; }

a:not(:hover) { text-decoration: none; }
a:hover { text-decoration: underline; }
