.top_bar form {
	display: inline-block;
}

.top_bar nav {
	align-items: center;
	font-size: large;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-evenly;
}

.top_bar {
	background-image: linear-gradient(rgba(128,0,128,.1),rgba(255,0,255,1));
	position: sticky;
	top: 0;
	width: 100%;
	margin: 0;
	border: 1px black solid;
	box-shadow: 1pt 1pt;
	text-shadow: 1pt 1pt white;
}

.kitforum {
	background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5));
	color: white;
	padding: 6pt;
}

h1 {
	background-image: linear-gradient(90deg, white, lightgrey);
	text-shadow: 1px 1px white;
	padding: 0.5ch;
}

h1 a { text-decoration: none; }
