.top_bar form {
	display: inline-block;
}

.top_bar nav {
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-evenly;
}

.top_bar {
	background-image: linear-gradient(rgba(128,0,128,.1),rgba(255,0,255,1));
	position: sticky;
	top: 0;
	width: 100%;
	margin: 0;
	border: 1px black solid;
	box-shadow: 1pt 1pt;
	text-shadow: 1pt 1pt white;
}

.kitforum {
	background-color: rgba(255,255,255,0.5);
	color: white;
	padding: 6pt;}
